.leave_request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 1000px;
}

.leave_request__image {
  background-image: url("../assets/images/leave_request__image.png");
  background-size: contain;
  height: 650px;
  width: 1000px;
  background-repeat: no-repeat;
}

.leave_request__image {
  background-size: contain;
  height: 650px;
  width: 1000px;
  background-repeat: no-repeat;
  /* just to show box-shadow still works fine */
  background-image: url("../assets/images/leave_request__image.png");
}

.leave_request__border__line {
  margin-top: -50%;
  margin-left: -30%;
  position: absolute;
  height: 700px;
  width: 1000px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 2px 8px #C9A367, 5px -2px 8px #C9A367;
          box-shadow: 5px 2px 8px #C9A367, 5px -2px 8px #C9A367;
}

.leave_request__circle__wrapper {
  position: absolute;
  left: 600px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leave_request__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leave_request__circle__number {
  font-weight: bold;
  font-size: 1.5em;
}

.leave_request__circle__text {
  color: black;
  width: 300px;
  margin-left: 20px;
}

.leave_request__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #C9A367;
  border: 10px solid white;
}

.leave_request__circle__first {
  top: -230px;
  left: 845px;
}

.leave_request__circle__second {
  top: -80px;
  left: 955px;
}

.leave_request__circle__third {
  top: 80px;
  left: 955px;
}

.leave_request__circle__fourth {
  top: 240px;
  left: 845px;
}

.leave_request__content {
  margin-top: 100px;
  margin-right: 180px;
}

.leave_request__form {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  height: 500px;
  width: 400px;
  padding: 40px;
  grid-gap: 20px;
}

.leave_request__header {
  text-transform: uppercase;
  font-size: 1.0em;
  text-align: center;
}

.leave_request__label {
  color: rgba(54, 54, 54, 0.637);
}

.leave_request__agreement {
  color: white;
}

.leave_request__submit {
  justify-self: flex-end;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.leave_request__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.leave_request__aside__text {
  color: #C9A367;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .leave_request {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 375px) {
  .leave_request {
    padding-bottom: 0px;
    display: none;
  }
}
/*# sourceMappingURL=leave_request.css.map */